[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool]
  prompt = false
[mergetool]
  prompt = false
[color]
  ui = auto
[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
