[submodule "zsh/plugins/oh-my-zsh"]
    path = zsh/plugins/oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh/plugins/zsh-autosuggestions"]
    path = zsh/plugins/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-syntax-highlighting"]
    path = zsh/plugins/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "i3/wallpapers"]
	path = i3/wallpapers
	url = https://github.com/elementary/wallpapers.git
